* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

#boardsContainer {
  display: flex;
  justify-content: space-around;
}

#playerOneBoard,
#playerTwoBoard {
  display: grid;
  grid: repeat(10, 48px) / repeat(10, 48px);
  grid-auto-flow: column;
  place-content: center;
  gap: 2px;
  width: 40%;
}

.tile {
  background-color: tomato;
}

.ship {
  background-color: yellow;
}
