* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

#test-field {
  text-align: center;
}

#error {
  text-align: center;
  height: 24px;
  color: darkred;
}

#boardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#startButtonContainer {
  text-align: center;
}

#startBtn {
  padding: 24px;
}

#playerOneBoard,
#playerTwoBoard {
  display: grid;
  grid: repeat(10, 48px) / repeat(10, 48px);
  grid-auto-flow: column;
  place-content: center;
  gap: 2px;
  min-width: 40%;
  margin: 24px;
}

.tile {
  background-color: wheat;
}

.ship {
  background-color: darkgray;
}

.shipHit {
  background-color: tomato;
}

.shot {
  background-color: white;
}
