* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

#boardsContainer {
  display: flex;
  justify-content: space-around;
}

#playerOneBoard,
#playerTwoBoard {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}

.tile {
  padding: 12px;
  width: 10%;
  background-color: tomato;
}

.ship {
  background-color: yellow;
}
